## Database Engineer Capstone Week 3

***

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random

import datetime
from datetime import datetime, timedelta
import scipy.stats


import mysql.connector as connector

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Load Data from SQL database

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

### MySQL

In [2]:
#Create a connection

mydb = connector.connect(
  user="root",
  passwd="password",
  database="littlelemondb",
  auth_plugin='mysql_native_password'  
)

In [3]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002884E500490>

In [4]:
mycursor = mydb.cursor()

In [5]:
mycursor

In [6]:
mydb.reconnect() #Reconnect cursor

In this second task, you now need to query the database to show all tables within the database.

In [6]:
pd.read_sql_query('SHOW tables', mydb)

  Tables_in_littlelemondb
0                 booking
1                customer
2          deliverystatus
3                    menu
4                  orders
5              ordersview
6             ordersview2
7                   staff

In [8]:
pd.read_sql_query("SHOW columns FROM booking", mydb)

         Field         Type Null  Key Default Extra
0    BookingID       b'int'   NO  PRI    None
1  BookingDate  b'datetime'   NO         None
2  TableNumber       b'int'   NO         None

An alternate way to learn the same information would be to use the DESCRIBE function. The syntax is:

In [9]:
pd.read_sql_query("DESCRIBE booking", mydb)

         Field         Type Null  Key Default Extra
0    BookingID       b'int'   NO  PRI    None
1  BookingDate  b'datetime'   NO         None
2  TableNumber       b'int'   NO         None

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [10]:
pd.read_sql_query("SELECT * FROM customer", mydb)

Empty DataFrame
Columns: [CustomerID, FullName, ContactNumber, Email]
Index: []

In [11]:
pd.read_sql_query("SELECT * FROM orders", mydb)

Empty DataFrame
Columns: [OrderID, Date, Quantity, TotalCost, Booking_BookingID, Customer_CustomerID, Menu_MenuID, DeliveryStatus_DeliveryID]
Index: []

In [7]:
pd.read_sql_query("""SELECT customer.FullName, customer.ContactNumber FROM customer
                    INNER JOIN orders
                    ON customer.CustomerID = orders.Customer_CustomerID
                    WHERE orders.TotalCost > 60
                    """, mydb)

Empty DataFrame
Columns: [FullName, ContactNumber]
Index: []

The cloned repository contains a procedure called GetMaxQuantity(). Call this procedure and verify

In [13]:
pd.read_sql_query("""CALL GetMaxQuantity();""", mydb)

  MAX(orders.Quantity)
0                 None

Call the ManageBooking() procedure by passing the appropriate parameters. First with an available table number, then with one that has already been reserved.

In [ ]:
pd.read_sql_query("""CALL CheckBooking("2022-01-01", 5);""", mydb)

Create an SQL statement that calls the AddBooking() procedure

Call the cursor .execute() method using the above parameters. Print out the result using the cursor .fetchall() method.

In [ ]:
pd.read_sql_query("""CALL AddBooking(99, 99, 99, "2022-12-10");""", mydb)

In [ ]:
mycursor.fetchall()

Create a SQL statement that calls the UpdateBooking() procedure

In [ ]:
pd.read_sql_query("""CALL UpdateBooking(99, "2022-01-10");""", mydb)

Create a SQL statement that calls the CancelBooking() procedure

In [ ]:
mycursor.fetchall()

In [ ]:
pd.read_sql_query("""CALL CancelBooking(99);""", mydb)

In [ ]:
mycursor.fetchall()